<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MediaPlayerWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MediaPlayerWidget.Properties.Settings>
            <setting name="Controller" serializeAs="String">
                <value>WMP</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScaleFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>Sense</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pinned" serializeAs="String">
                <value>False</value>
            </setting>
        </MediaPlayerWidget.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
