<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argotic.Common" version="2008.0.2.0" targetFramework="net48" />
  <package id="Argotic.Core" version="2008.0.2.0" targetFramework="net48" />
  <package id="Argotic.Extensions" version="2008.0.2.0" targetFramework="net48" />
  <package id="Argotic.Web" version="2008.0.2.0" targetFramework="net48" />
</packages>