<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDir" value="./log/${date:format=yyyy-MM-dd}"/>
  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${logger} ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${logger} ${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${logger} ${message}. ${exception:format=ToString}"/>

  <targets>
    <target name="consoleLog" xsi:type="ColoredConsole" layout="${shortLayout}" />
    <target name="shortLog" xsi:type="File" fileName="${logDir}/short.log" layout="${commonLayout}" />
    <target name="fullLog" xsi:type="File" fileName="${logDir}/full.log" layout="${detailedLayout}" />
    <target name="systemLog" xsi:type="EventLog" layout="${detailedLayout}" />
  </targets>

  <rules>

    <!-- Основные log -->

    <logger name="*" minlevel="Trace" writeTo="fullLog" />
  </rules>
</nlog>
